{% extends 'base.html' %}
{% load static%}

{% block content %} 
<head>
<style>
.login{
display: block;
margin-left: auto;
margin-right: auto;
width: 20%;
        
    }
</style>
</head>
<div class="login">
    <h3>Login</h3>
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <form method="POST" action=""> {% csrf_token %}
        {% csrf_token %}
        <p><input type="text" name="username" placeholder="Username..."></p>
        <p><input type="password" name="password" placeholder="Password..." ></p>
        <input class="btn btn-success" type="submit" value="Login">
        <p>Do not have an account<a href='{% url "signup" %}'> Register</a></p>
    </form>
</div>


{% endblock %}